<footer class="footer" style="background-color:#CE3063">
  <small>
    5K Race to Support Charleston Women in Tech
  </small>
  <nav>
    <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Race Information", race_info_path %></li>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Photo Gallery", photo_gallery_path %></li>
        <li><%= link_to "Contact Us", contact_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log Out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
    </ul>
  </nav>
</footer>