<h1>Photo Gallery of past events</h1>
<% provide(:title, "PhotoGallery") %>

<p align="center">
  The money provided by events like this 5K run allows CWIT to give back to
  the community with CodeOn events and Presentations.
  These CodeOn events and presentations allow the community to learn tech skills
  needed to get a career in the STEM field.
</p>

<h4>Click an image to enlarge</h4>
  <div>
      <a class="example-image-link" href="<%=image_path "photo1.jpg" %>" data-lightbox="example-set"><img width="24%" class="example-image" src="<%=image_path "photo1.jpg"%>" alt=""/></a>
      <a class="example-image-link" href="<%=image_path "photo2.jpg" %>" data-lightbox="example-set"><img width="24%" class="example-image" src="<%=image_path "photo2.jpg"%>" alt=""/></a>
      <a class="example-image-link" href="<%=image_path "photo3.jpg" %>" data-lightbox="example-set"><img width="24%" class="example-image" src="<%=image_path "photo3.jpg"%>" alt=""/></a>
      <a class="example-image-link" href="<%=image_path "photo4.jpg" %>" data-lightbox="example-set"><img width="24%" class="example-image" src="<%=image_path "photo4.jpg"%>" alt=""/></a>
      <a class="example-image-link" href="<%=image_path "photo5.jpg" %>" data-lightbox="example-set"><img width="24%" class="example-image" src="<%=image_path "photo5.jpg"%>" alt=""/></a>
      <a class="example-image-link" href="<%=image_path "photo6.jpg" %>" data-lightbox="example-set"><img width="24%" class="example-image" src="<%=image_path "photo6.jpg"%>" alt=""/></a>
      <a class="example-image-link" href="<%=image_path "photo7.jpg" %>" data-lightbox="example-set"><img width="24%" class="example-image" src="<%=image_path "photo7.jpg"%>" alt=""/></a>
      <a class="example-image-link" href="<%=image_path "photo8.jpg" %>" data-lightbox="example-set"><img width="24%" class="example-image" src="<%=image_path "photo8.jpg"%>" alt=""/></a>
  </div>
</section>
